:root {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  line-height: 1;
}
#canvas1 {
  position: absolute;
  inset: 0;
  background-image: linear-gradient(to top, #d299c2 0%, #fef9d7 100%);
}
